
body { font-family: Arial, Helvetica, sans-serif;
 background-color: #fefefe;
color: #004D40;
}
 
/*009970*/
.navbar{

  color: #009970;
/*#4caf50*/
}

/*..............................................footer...........................................*/
.page-footer{
  padding-left: 30px;
  padding-top: 30px;
  background-color: #ffffff;
  color: #004D40;
  font-size: small;
}
.footerRow li a{
  color: #004D40;
  text-decoration: none;
}

/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,About us page.............................................*/
.social-link {
  width: 45px;
  height: 45px;
  border: 1px solid #004D40;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004D40;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ffffff;
  text-decoration: none;
  color: #555;
}

.img-thumbnail{
  width: 280px;
  height: auto;
}
.carousel-inner .carousel-item{
height: 400px;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 200px;
}
.zoom {
 
  transition: transform .5s;
  
}

.zoom:hover {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.05); 
}

#nech{
  background-color: white;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("https://res.cloudinary.com/sharecare/image/upload/f_auto/v1484787308/articles/home-remedies-mom-right-about") center center;
  background-size: cover;
  position: relative;
}

#hero .container {
  padding-top: 80px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 70;
  line-height: 56px;
  color: #fff;
  font-family: 'Shadows Into Light', cursive;
}

#hero h2,h5 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#hero .btn-get-started {
  font-family: 'Shadows Into Light', cursive;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #009970;
  border: 2px solid #009970;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero .container {
    padding-top: 60px;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: #009970;
  padding: 40px 0 20px 0;
  color: #fff;
}

.counts .counters span {
  font-size: 36px;
  display: block;
  font-weight: 700;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.3)), url("https://blog.playo.co/wp-content/uploads/2017/01/yoga-4200x2208-sunrise-morning-beach-4k-1029.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 70;
}

.cta h2 {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 70;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;

}

.cta .cta-btn:hover {
  background: #009970;
  border: 2px solid #009970;
}
